.counterInput {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    width: fit-content;
  }
  
  .counterButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    user-select: none;
  }
  
  .counterValue {
    margin: 0 10px;
    font-size: 1.2rem;
  }
  